<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<connectionStrings>
		<add name="QuanLy"
			 connectionString="Server=ASUS-TUF-GAMING; Database=TenDatabaseCuaBan; Integrated Security=True; TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
